@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

:root {
  --form-bg-color: #171717;
}

.bg-form {
  background-color: var(--form-bg-color);
}