.scrollbar::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;
  border: 4px solid black;  /* creates padding around scroll thumb */
}